@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  max-width: 1600px;
  min-width: 200px;
 background-color: #191307;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #191307;
  border-radius: 0 20px 0 0;
  width: 190px;
  margin: 0;
  animation-name: nav-bar-lanches;
  left: -200px;
  padding: 0;
  height: 100vh;
  position: fixed;
  transition-duration: 0.7s;
  z-index: 2;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-delay: 3s;
  
}

/* @keyframes nav-bar-lanches {
  1% {
    left: -200px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -200px;
  }
} */

.check {
  width: 80px;
  height: 40px;
  background-color: rgb(255, 225, 0);
  border-radius: 0 12px 12px 0;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  position: fixed;
  animation-name: btn-menu;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes btn-menu {
  1% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

.bx-food-menu {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#check {
  display: none;
}

#check:checked ~ nav {
  left: -0px;
  z-index: 2;
}

.sessao-btn-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.sessao-btn-menu a {
  font-size: 25px;
  text-align: center;
  width: 120px;
  color: white;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.sessao-btn-menu img {
  width: 80px;
  transform: translateX(20px);
  filter: drop-shadow(5px 5px 2px black);
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-image: linear-gradient(45deg, black 62%, rgb(255, 183, 0) 10%);

  max-width: 100%;
}
main {
  max-width: 100%;
  width: 767px;
  display: flex;
  flex-direction: column;
}

.container-logo-main {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.container-header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nome-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.nome-logo h1 {
  color: white;
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
  
}

.nome-logo h2 {
  color: white;
  transform: translateY(20px);
  position: relative;
}

.nome-logo h2::before {
  content: "";
  width: 110px;
  height: 5px;
  background-color: red;
  position: absolute;
  left: 00px;
  bottom: 11px;
}
.nome-logo h2::after {
  content: "";
  width: 110px;
  height: 5px;
  background-color: red;
  position: absolute;
  right: 0px;
  bottom: 11px;
}
.nome-logo h3 {
  color: rgb(255, 0, 0);
  filter: drop-shadow(0 0 10px);
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  transform: translateY(-40px);
}

.container-header-logo img {
  width: 370px;
  filter: drop-shadow(0 0px 15px rgb(229, 161, 3));
  transition-duration: 0.3s;
  max-width: 100%;
}

.legenda-propaganda {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.previa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 200px;
  margin-bottom: 50px;
}

.previa h1 {
  color: rgb(255, 183, 0);
  font-family: "Courier New", Courier, monospace;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  filter: drop-shadow(0 0 4px);
}

.previa h3 {
  font-size: 15px;
  text-align: end;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.popularidade i {
  color: yellow;
}

.popularidade {
  display: flex;
  justify-content: end;
  width: 120px;
  align-items: center;
}

.redes-sociais i {
  color: white;
  padding: 5px 0;
  font-size: 20px;
}

.redes-sociais {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nota {
  background-color: rgb(255, 225, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 10px;
  color: black;
  margin-left: 10px;
}

.lanche-popularidade-nav{
  width: 90%;
  margin-top: 10px;

}

.lanche-popularidade-nav p{
  color: white;
  background-color: black;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
}


.img-lanche-nav img{
  width: 170px;
  border-radius: 30px;
}



.nav-lanches{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  background-image: linear-gradient(45deg, black 62%, rgb(255, 183, 0) 10%);
  border-radius: 20px;
  border: 4px solid rgb(255, 225, 0);
  box-shadow: 0 0 3px 0 rgb(255, 225, 0),
  2px 2px 0px 2px rgb(0, 0, 0);

}

::-webkit-scrollbar{
  overflow-x: hidden;
}

.container-nav{
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  overflow-x: auto;
  padding: 70px 20px;
}

.nome-sessao{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}


.nome-sessao h1{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.descricao-produto-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 10px;
  text-align: center;

}

.descricao-produto-nav h1{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.descricao-produto-nav p{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
}

.descricao-produto-nav a{
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(255, 225, 0);
  width: 190px;
  border-radius: 13px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}